*~
*.elc
auto-save-list
recentf
eshell/
ido.last
\#*\#
.\#*
session.*
bookmarks
my-autoload.el
projectile-bookmarks.eld
.emacs.desktop*
tramp
.mc-lists.el
.yas-compiled-snippets.el
network-security.data
url/
.cache/
